@{
    ViewData["Title"] = "Home Page";
}

<div class="home-title">
    <h1 class="display-4">Welcome to Sensore</h1>
</div>

<style>
    .home-title {
        display: flex;
        justify-content: center; /* Horizontal centering */
        align-items: center; /* Vertical centering */
        height: 100vh; /* Full viewport height */
    }
</style>
